@import "../../styles/colors";

.mainOrder
{
    display: flex;
    padding: 1rem;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

}
.leftSide img
{
    width: 35vw;
    margin-right: 5rem;
}
.rightSide h1
{
    margin-bottom: 3rem;
    color: $secondary-text-color;
}
.rightSide h3
{
    margin-bottom: 1rem;
}