body {
  font-family: 'Roboto', sans-serif;
}
.topLine
{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  width: 100%;
  height: 40px;
}

.topLine img
{
  width: 20px;
  vertical-align: middle;
  display: inline-block;
  margin-right: 5px;
}

.leftSide,
.leftSideNav {
  margin-right: auto;
  margin-left: 100px;
}

.rightSide,
.rightSideNav {
  margin-left: auto;
  margin-right: 100px;
}


.topLine a
{
  text-decoration: none;
  color: #ccc;
  padding: 0 14px;
  text-align: center;
  vertical-align: middle;
  line-height: 40px;
  font-size: 13px;
}

.navigation
{
  display: flex;
  margin: 10px 20px;

}

.navigation a
{
  text-decoration: none;
  color: #333;
  font-size: 17px;
  padding: 0 14px;
  
}

.navigation img
{
  vertical-align: middle;
  margin-right: 10px;
}
.mainLogo
{
  width: auto;

}
.navLogo
{
  width: 32px;
  height: 32px;
}
.navBtn
{
  color: #ffffff;
  background-color: #e0343c;
  border-color: white;
  width: 167px;
  height: 40px;
  border-radius: 5px;
}
.main
{
  margin: -10px 90px;
}

.topFooter
{
  background-color: #ececec;

}
.topFooter h5
{
  color: #000;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 15px;
}
.topFooter a
{
  text-decoration: none;
  color:  #666;
  font-size: 14px;
}
.content
{
  width: 100%;

  padding-top: 50px;
  padding-bottom: 30px;
  display: flex;
  justify-content: space-between;
  
}
.row
{
  width: 25%;
  margin-left: 50px;
  margin-right: 50px;
}
.row li
{

    margin-bottom: 10px;
}
.followUs
{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40%;
  margin-left: auto;
  padding-top: 30px;
  padding-bottom: 22px
}
.icons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.icons img
{
  width: 50px;
}

.icons ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  padding: 0;
  margin: 0;
}

.icons ul li {
  flex: 1;
  text-align: center;
}

.footerInfo {
  text-align: center;
  margin: 0 0 0 -17px;
  padding: 38px 0;
}

.infoContainer {
  display: inline-block;
}

.infoContainer ul li {
  margin-right: 10px;
  display: inline;
}
.infoContainer a
{
  font-size: 16px;
  padding-left: 20px;
}



.bottomFooter
{
  background-color: #494949;
  color: #999;
  padding-bottom: 25px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
}

.bottomFooter ul
{
  margin-left: -9px;
  margin-bottom: 12px;
  padding: 24px 0 20px 0;
  position: relative;
  list-style: none;

}
.bottomFooter li
{
  display: inline-block;
  padding-left: 20px;
}
.bottomFooter a
{
  color: #999;
  padding-left: 3px;
}

