.footerMain {
    color: #fff;
    text-align: center;
    padding: 20px;
    background-color: rgb(211, 209, 209);
    bottom: 0;
    width: 100%;

  }
  
  .navigation {
    display: flex;
    justify-content: center;
    gap: 20px;
    
  }
  
  .footerText {
    margin-top: 20px;
  }