@import "../../styles/colors";

.title {
  margin-bottom: 1rem;
  color: $secondary-text-color;
}

.item {
  margin-bottom: 1rem;
}

.orderRow {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  border: 2px solid $secondary-text-color;
  border-radius: 10px;

  .leftSide,
  .rightSide {
    display: flex;
    align-items: center;
  }
}

.id {
  font-size: 1.2rem;
  font-weight: 500;
  color: $secondary-text-color;
}

.hotelImage {
  width: 100px;
  height: 80px;
  margin: 0 1rem;

  img {
    width: 100%;
    height: 100%;
  }
}

.hotelTitle {
  margin-bottom: 1rem;
}

.date {
  color: $secondary-text-color;
}

.details {
  display: flex;
  align-items: center;
  gap: 4px;
  margin-right: 4rem;
}

.price {
  color: green;
}
