.mainPortfolio h1
{
    text-align: center;
    margin-bottom: 50px;
}  
  .portfolioItems {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
  }
  .item img
  {
    width: 100px;
    height: 100px;
  }

  
  .item img {
    width: 100%;
    height: auto;
  }