.html
{
  background-color: bisque;
}
.item
{
border: 1px solid black;
width: 300px;
height: 220px;
}
.itemSettings
{
text-align: center;
}

.productsDiv {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.productsDiv .item {
  flex-basis: calc(33.33% - 10px);
  margin-bottom: 20px;
}