body {
    margin: 0;
    padding: 0;
    min-height: 100vh; /* Užtikrina, kad puslapio aukštis būtų visada bent vienas ekranas */
    display: flex;
    flex-direction: column;
  }
  
  .app {
    flex: 1; /* Užima visas laisvas vietos tarp turinio ir footerio */
  }
  
  footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
  }